body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('back11.jpg');
    background-size: cover;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    margin: 20px 0;
    color: blue ;
    width: 100%;
    /* background-image: linear-gradient(to left,blue,yellow); */
}
h1:hover,p:hover{
    transform: scale(1.5);
}
.currency-toggle {
    margin: 20px;
    color: darkmagenta;
}

.pricing-table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: red;
}

.pricing-plan {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pricing-plan h2 {
    margin: 0 0 10px;
}

.price {
    font-size: 24px;
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    .pricing-plan {
        width: 80%;
    }
}
